<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.sucky.ex.p06.dao.FavoritesDAO">

	<insert id="insertFavorites" parameterType="map">
		
		INSERT INTO `favorites`
		(
			`name`
			, `url`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{name}
			, #{url}
			, now()
			, now()
		)
	
	
	</insert> 




</mapper>